@import "css3-mixins-lib";
@import 'https://fonts.googleapis.com/css?family=Droid+Sans';

body {

}

.logo-frmwrks-module {
	width: 100px;
	height: 100px;
	margin: 50px auto;
	* {
		font-family: 'Droid Sans', sans-serif;
	}
	> div {
		margin-bottom: 60px;
		h3 {
			color: #aaa;
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}