@import "css3-mixins-lib";
@import 'https://fonts.googleapis.com/css?family=Baloo+Chettan';

* {
	font-family: 'Baloo Chettan', sans-serif;
}

h1 {
	margin: 50px;
	letter-spacing: 1px;
}

.logo-frmwrks-module {
	width: 100vw;
	height: 100vh;
	margin: 50px auto;

	> div {
		margin-bottom: 60px;
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: 50px;
		opacity: 0;
		@include transition(all 0.3s);

		h3 {
			color: #aaa;
			margin-bottom: 30px;
		}
	}
}

.frmwrks-logo-points-module {
	canvas {

	}
}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}