@import "css3-mixins-lib";
@import 'https://fonts.googleapis.com/css?family=Baloo+Chettan';

* {
	font-family: 'Baloo Chettan', sans-serif;
}

.main-wrp {
	margin: 50px;
	letter-spacing: 1px;
}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}